@-webkit-keyframes fade-out-left {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(-40px);
  }
}

@keyframes fade-out-left {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(-40px);
    -ms-transform: translateX(-40px);
    transform: translateX(-40px);
  }
}

.fade-out-left {
  -webkit-animation-name: fade-out-left;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
  animation-name: fade-out-left;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
